<ion-card>
  <ion-card-header>
    <ion-card-title>Week Quiz</ion-card-title>
  </ion-card-header>

  <ion-card-content>

          <ion-list>
                  <ion-item
            class="list-group-item list-weekQUiz"
            *ngFor="let weekQuiz of weekQuices"
            (click)="openWeekQuiz(weekQuiz)"
          >
                    <ion-icon slot="start" ios="people-outline" md="people-sharp"></ion-icon>
                    <ion-label>
            <h4>{{ weekQuiz.idQuiz }}</h4>
            <h6>{{ weekQuiz.date }}</h6>
            <h6>{{ weekQuiz.active }}</h6>
                    </ion-label>
                  </ion-item>
          </ion-list>

  <ion-button
    class="btn btn-info btn-lg btn-block text-uppercase btn-rounded"
    type="submit"
    (click)="createQuiz()"
  >
    Nuevo Quiz
  </ion-button>
  <ion-button class="btn btn-primary" routerLink="/learn/weekQuiz/quiz" role="button">Realizar Week Quiz</ion-button>
  </ion-card-content>
</ion-card>
