<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" pullingIcon="arrow-dropdown"
pullingText="Pull to refresh">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-fab
    vertical="top"
    horizontal="end"
    slot="fixed"
    (click)="presentFormModal()"
  >
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Foro Nivel A1</ion-card-title>
      <ion-card-subtitle>Lista de entradas</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>


      <ion-list>
        <ion-item
          *ngFor="let thread of threads"
          (click)="presentDetailModal(thread)"
          detail
          button
        >
        <ion-icon slot="start" ios="people-outline" md="people-sharp"></ion-icon>
        <ion-label>
          <h2>{{ thread.title }}</h2>
          <p>{{ thread.userName }}</p>
        </ion-label>

        </ion-item>
      </ion-list>
      
    </ion-card-content>
  </ion-card>
</ion-content>

<app-thread-form *ngIf="formVisible" class="form-bottom"></app-thread-form>
