<ion-content>
  <ion-refresher
    slot="fixed"
    (ionRefresh)="doRefresh($event)"
    pullingIcon="arrow-dropdown"
    pullingText="Pull to refresh"
  >
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-fab
    vertical="top"
    horizontal="end"
    slot="fixed"
    (click)="presentFormModal()"
  >
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Soporte</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let ticket of tickets">
          <ion-icon
            slot="start"
            ios="construct-outline"
            md="construct-sharp"
          ></ion-icon>
          <ion-label>
            <h2>{{ ticket.issue }}</h2>
            <p>{{ ticket.userName }}</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
