<ion-fab vertical="top" horizontal="start" slot="absolute" (click)="dismiss()">
  <ion-fab-button>
    <ion-icon name="arrow-back-outline"></ion-icon>
  </ion-fab-button>
</ion-fab>
<ion-content>
  <ion-card class="card-center">
    <ion-card-header>Agregar Debate</ion-card-header>
    <ion-card-content>
      <form
        id="loginform"
        autocomplete="off"
        [formGroup]="threadForm"
        (ngSubmit)="sendThread()"
      >
        <ion-item>
          <ion-input
            class="form-control"
            placeholder="Title"
            formControlName="title"
          ></ion-input>
        </ion-item>

        <ion-item>
          <ion-input
            class="form-control"
            placeholder="Description"
            formControlName="description"
          ></ion-input>
        </ion-item>
        <ion-button ion-button type="submit" style="margin:10px">Enviar</ion-button>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
